
@media screen and (max-width: 820px) {
    /* flex 3 */
.flex3{
    margin-left: -110px;
}
.flex3 .about_text{
    font-size: 12px;
}
.flex3 .about_text .tete .h4{
    font-size: 14px;
}
/* flex-4 */
.flex4, .flex_3{
    margin-top: 100px;
}
.flex4 .about_img, .about_img4{
    margin-left: 234px
}
.about_img5{
    margin-left: -20px;
}
.flex4 .about_text{
    font-size: 12px;
}
.flex4 .about_text .tete .h4{
    font-size: 14px;
}
.flex4 .borde_space{
    position: relative;
    left: -338px;
}
   
}
@media screen and (max-width: 768px){
    .cont{
        position: absolute;
        margin-top: 15rem;
        left: 8%;
    }
    .navbar-light .navbar-nav .nav-link{
        color: var(--bs-warning);
    }
    .commerce{
        border-radius:50%;
        width: 30%;
        height: 140px;
        position: relative;
        left: 170px;
    }
    .cont .btn{
        width: 35%;
        height: 55px;
        position: relative;
        left: auto;
      
       
    }
    /* ---------portfolio-------- */
    .card{
        margin-left: 75px;
    }

    
.modal-body img{
    position: relative;
    left: 50px;
    width: 80%;
}
.btn{
    width: 45%;
    position: relative;
    left: -105px;
    
}
/* --------about----------- */
.flex3{
    margin-left: -110px;
}
.flex3 .about_text{
    font-size: 12px;
}
.flex3 .about_text .tete .h4{
    font-size: 14px;
}
/* flex-4 */
.flex4, .flex_3{
    margin-top: 100px;
}
.flex4 .about_img, .about_img4{
    margin-left: 234px
}
.about_img5{
    margin-left: -20px;
}
.flex4 .about_text{
    font-size: 12px;
}
.flex4 .about_text .tete .h4{
    font-size: 14px;
}
.flex4 .borde_space{
    position: relative;
    left: -338px;
}

/* ------fin about------- */
/* ------------team----------- */

.img-t img{
    width: 35%;
    border-radius: 50%;
    position: relative;
    left: 100px;
}
.img-t P{
    margin-left: 150px;
}

.mere-icon-t .fa-brands{
    position: relative;
    left: 120px;
    bottom: 10px;
    padding-left: 10px;
    padding-top: 9px;
    font-size: 29px;
    border-radius: 50%;
}
.img-t h3{
    text-align: center;
    margin-left: -120px;
}
/* ---------------contact-------------- */
.form-group textarea{
    margin-top: 2rem;
    height: 210px;
}
.btn-send button{
    position: relative;
    left: 150px;
    width: 40%;
    height: 70px;
  }




/* ---------footer-------------- */



.mere-footer{
    display: block;
    margin-left:  180px;
   
   }
}
@media screen and (max-width: 620px) { 
    .flex3{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0px;
        margin-top: -200px;
     }
     .about_text{
        margin-top: -100px;
     }
     .flex3 .about_img, .flex4 .about_img, .about_img4, .about_img3, .about_img5{
        margin-left: 0px;
     }
     .about_img5{
        margin-top: -100px;
     }
     .flex4{
        margin-top: 0px;
     }
     .flex_3{
        margin-top: -290px;
     }
     .about_img5{
        margin-top: -130px;
     }
     .about_img5 .text h4{
        font-size: 15px;
        margin-top: -10px;
     }
     .flex4 .about_img,
     .flex3 .about_img, 
     .about_img3, 
     .about_img4,
     .about_img5{
        border: 8px solid gainsboro;
        width: 90px;
        height: 90px;
        border-radius: 100px;
        
     }
     .borde_space, .flex4 .borde_space{
        border-left: 2px solid gainsboro;
        height: 135px;
        right: 0px;
        top: 240px; 
        margin-left: 45px;          
     }
     .flex4 .borde_space{
        top: -130px;
        left: 0px; 
     }
    }















@media screen and (max-width: 560px){
    .cont{
        position: absolute;
        margin-top: 15rem;
        left: 15%;
        top: 25px;
    }
    .cont .btn{
        width: 65%;
        height: 55px;
        position: relative;
        left: auto;   
    }
    .bg-contain{
        width: auto;
    }
    
.btn{
    width: 55%;
}
.navbar-light .navbar-nav .nav-link{
    color: var(--bs-warning);
}


.bg-dark {
    background-color: #212529!important;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    width: auto;
}


/* -----------services--------------- */
.commerce{
    position: relative;
    left: 150px;
}




/* ------------------------portfolio-------------------- */

#portfolio{
  width: auto;
}

.card{
    position: relative;
    left: -58px;
}

.modal-body img{
    position: relative;
    left: 30px;
    width: 80%;
}

.btn{
    width: 70%;
    position: relative;
    left: -40px;
    
}
/*----------- fin portfolio------------ */


/* -----------about---------------- */
   /* About */
   .flex3{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0px;
    margin-top: -200px;
}
.about_text{
    margin-top: -100px;
}
.flex3 .about_img, .flex4 .about_img, .about_img4, .about_img3, .about_img5{
    margin-left: 0px;
}
.about_img5{
    margin-top: -100px;
}
.flex4{
    margin-top: 0px;
}
.flex_3{
    margin-top: -290px;
}
.about_img5{
    margin-top: -130px;
}
.about_img5 .text h4{
    font-size: 15px;
    margin-top: -10px;
}
.flex4 .about_img,
.flex3 .about_img, 
.about_img3, 
.about_img4,
.about_img5{
    border: 8px solid gainsboro;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    
}
.borde_space, .flex4 .borde_space{
    border-left: 2px solid gainsboro;
    height: 135px;
    right: 0px;
    top: 240px; 
    margin-left: 45px;          
}
.flex4 .borde_space{
    top: -130px;
    left: 0px; 
} 



/* ----------fin about--------------- */

/* -----------------TEAM------------ */
#team{
    background: none;
}


.img-t img{
    width: 35%;
    border-radius: 50%;
    position: relative;
    left: 100px;
}
.img-t P{
    margin-left: 130px;
}

.mere-icon-t .fa-brands{
    position: relative;
    left: 100px;
    bottom: 10px;
    padding-left: 10px;
    padding-top: 9px;
    font-size: 29px;
    border-radius: 50%;
}
.img-t h3{
    text-align: center;
    margin-left: -50px;
}

/* -------contact---------- */
#contact{
   width: auto;
}












/* ------------footer--------- */

.mere-footer{
 display: block;
 margin-left: 90px;

}
.icon{
    padding-top: 4px;
    font-size: 29px;
    color: var(--bs-white);
    background-color: #343a40;
    width: 50px;
    height: 50px;
    border-radius: 50%;    
}


}