*{
    margin: 0;
    padding: 0;
}
:root{
    --gradient-color:  linear-gradient(#f63c86, #3f41a6);
    --bs-rouge:  #F44336;
    --bg-dark-blue: #0e1525;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-jc: #F6E1C5;
    --bs-cl:  #7B261A
   
}
.bg-contain{
    background-image: url(img-tache8/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: var(--bs-light);
}
.navbar-light .navbar-nav .nav-link{
    color: var(--bs-light);
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--bs-warning);
}
.fa-bars{
    color: var(--bs-warning);
} 
.cont{
    position: absolute;
    margin-top: 15rem;
    left: 20%;
}

.cont .btn{
    background-color: var(--bs-warning);
    color: var(--bs-white);
    width: 35%;
    height: 55px;
   position: relative;
   left: auto;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 22px;
}
.btn:hover{
    opacity: 0.9;
    color: var(--bs-white);
}



/* ------------animation--------------- */

h1{
    animation: glissement 2s ease-in;
  }
  @keyframes glissement {
    0%{
        transform: translateX(100%);
    }
    50%{
        transform: translateX(100%);
    }
  }


.mere-titre  h3{
    animation: hautBas 2s ease-in;
  }
  @keyframes  hautBas {
    0%{
        transform: translateY(100%);
    }
    50%{
        transform: translateY(-100%);
    }
  }


  
.btn{
    animation: gauchDroit 2s ease-in;
  }
  @keyframes   gauchDroit {
    0%{
        transform: translateX(100%);
    }
    50%{
        transform: translateX(-100%);
    }
  }



  /*------------------ fin animation--------------- */
h1{
    font-size: 70px;
}
.fa-solid{
    font-size: 70px;
    margin-bottom: 35px;
    color: var(--bs-white);
}
.commerce{
    background: var(--bs-warning);
    border-radius:55%;
    width: 35%;
    height: 120px;
    position: relative;
    left: 120px;
}
/* -----------portfolio---------- */
#portfolio{
    background-color: #f8f9fa;
        margin-top: 65px;
}

.card .hover-plus{
    display: none;
}
.card:hover .hover-plus{
    width: 100%;
    height: 74.3%;
    background-color:  var(--bs-warning);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0.8;
}


.modal-body img{
    position: relative;
    left: 255px;
}
span{
    font-weight: bold;
}
.btn{
    background-color: var(--bs-warning);
    color: var(--bs-white);
    width: 20%;
    height: 55px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 22px;
    position: relative;
    left: -450px;
    border: none;
}
/* ----------------------fin portfolio------------------- */



/* ------------------about----------------------------- */
/* About */
.about_img,
.about_img2,
.about_img3,
.about_img4{
    border: 8px solid gainsboro;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    background-image: url(img-tache8/about1\ \(1\).jpg);
}
.flex4 .about_img{
    background-image: url(img-tache8/about2\ \(1\).jpg);
    background-size: cover;
}
.about_img3{
    background-image: url(img-tache8/about3\ \(1\).jpg);
    background-size: cover;
}
.about_img4{
    background-image: url(img-tache8/about4\ \(1\).jpg);
    background-size: cover;
}
.borde_space{
    border-left: 2px solid gainsboro;
    height: 140px;
    position: relative;
    right: 118px;
    top: 175px;
}
.flex3{
    margin-left: -160px;
}
.flex4, .flex_3{
    margin-top: 50px;
}
.flex4 .about_img, .about_img4{ 
    margin-left: 290px;
}
.flex4 .borde_space{
    border-left: 2px solid gainsboro;
    height: 140px;
    position: relative;
    right: 412px;
    top: 175px; 
}
.flex4 .about_text{
    margin-left: 0px;
}
.about_img5{
    border: 8px solid gainsboro;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-left: -35px;
    background-color: #ffc800;
    
}





/* ----------------fin about------------------------------- */

/*--------------------- section team------------ */

#team{
 background-color: #f8f9fa;

}
.img-t img{
    width: 65%;
    border-radius: 50%;
}
.img-t P{
    margin-left: 40px;
}

.mere-icon-t .fa-brands{
    padding-left: 10px;
    padding-top: 9px;
    font-size: 28px;
    color: var(--bs-white);
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    gap: 40px;
}
/* -------clients---- */
.img-clients{
    position: relative;
    left: 80px;
}

/* -------------contact--------- */
#contact{
    background-image: url(img-tache8/map-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0e1525;
    height: 100%;
    color: white; 
}
.form-group textarea{
    /* margin-bottom: 2rem; */
    height: 210px;
}
.btn-send button{
  position: relative;
  left: 450px;
  width: 20%;
  height: 70px;
  border-radius: 15px;
  background: var(--bs-warning);
}
.btn-send:hover{
    opacity: 0.5;
}




























/* ---------------footer------------- */
.mere-footer{
    display: flex;
    justify-content: space-around;
}
.mere-icon{
    font-size: 30px;
    display: flex;
    gap: 25px;
}
.icon{
    padding-top: 4px;
    font-size: 29px;
    color: var(--bs-white);
    background-color: #343a40;
    width: 50px;
    height: 50px;
    border-radius: 50%;    
}
